@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
.Landing_container{
    height: 44.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-image:url(
        "https://plus.unsplash.com/premium_photo-1664202526559-e21e9c0fb46a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2xvdGhlcyUyMHNob3B8ZW58MHx8MHx8&w=1000&q=80") ;   
    color: whitesmoke;
    background-repeat:no-repeat ;
    background-size: cover;
    
}
.Landing_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6rem;
    flex-shrink: 2;

    
}
.Landing_title{
    font-family: 'Laila';
    font-style: normal;
    color: rgb(53, 46, 22);
    font-weight: 400;
    font-size: 8.5rem;
    padding-left: 0px;
}
.Landing_quote{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 3rem;
    color: #271e02;

    max-width: 40.25rem;
}
.Landing_buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 4rem;
    color: #dbae27;
    
}
.Landing_buttons button{
    border: none;
    background: #c4b31b;    
    border-radius: 71px;
    color: #10293a;
    height: 2.25rem;
    width: 6.5rem;
    padding: .5rem;
    

}
.needblood{
    margin-left: 1.5rem
}