.don_container{
    background-image: url(
        "https://plus.unsplash.com/premium_photo-1664202526559-e21e9c0fb46a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2xvdGhlcyUyMHNob3B8ZW58MHx8MHx8&w=1000&q=80");
          background-size: cover;
}
.don_title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    padding-left: 0px;
    text-align: center;
}
.Abt_findicon{
    display: flex;
    flex-direction: row;
    max-width: 48rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    max-width: 60rem;

    color: #818181;
    

}
.Abt_findicon h4{
    margin: 0rem;
}