@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
.About_container{
    height: 44.5rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    
    background:  #D9D9D9;    
    color: #77A7CA;
    
}

.About_title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    padding-left: 0px;
    text-align: center;
}
.About_quote{ 
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 1.5rem;
    color: #292b2d;
    text-align: center;
    padding-top: 2rem;

    max-width: 60rem;
}

.About_cards{
    display: flex;
    flex-direction: row;
    max-width: 48rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    max-width: 60rem;

    color: #818181;
    

}
.About_cards h4{
    margin: 0rem;
}