.Navbar_container{
    position:fixed;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background:#97360fb7;
    height: 4rem;
    font-size: 0.75rem;
    color: whitesmoke;
    z-index: 1000;
   

}

.Navbar_logo{
    flex-grow: 8;
    padding-left: 6rem;
}
.R_logo{
 max-height: 2rem;
 max-width: 2rem;

}
.Navbar_items {
    display: flex;
    flex-direction: row;
    font-size: small;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
}    
.Navbar_item a{
    font-size: 0.75rem;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;

}  
.Navbar_auth{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    flex-grow: 1;
    padding-right: 6rem;
    
    
}
.Navbar_auth button{
    border: none;
    background: none;
    color: white;
    

   
} 
.Navbar_auth_signup{
    background: #427295;
    border-radius: 71px;
    color: whitesmoke;
    height: 1.25;
    width: 5.5;
    padding: .25rem;

    



} 